chromedriver.exe
.ipynb_checkpoints
.venv
setup.py
Untitled-1.ipynb
Soccer_Predictor.egg-info
soccer_prediction.ipynb
skysport/formations.csv
skysport/matches.csv
skysport/league.csv
skysport/scores1.csv
skysport/scores2.csv
skysport/plot.dot
skysport/plot.dot.pdf
skysport/tree
skysport/tree.png
skysport/tweets.csv
skysport/get-pip.py
skysport/mini.sh

